body {
  padding: 0px;
  margin: 0px;
}

a,
input[type="submit"],
input[type="button"] {
  text-decoration: none;
  cursor: pointer;
}

input:read-only {
  background-color: #a2afb0;
}

a:link {
  color: #f0f0f0;
}

a:visited {
  color: #f0f0f0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.header-wrapper {
  width: 100%;
  height: 100px;
  background-color: #1f2420;
  color: #f0f0f0;
  position: fixed;
  z-index: 1;
  text-align: center;
}

.logo-wrapper {
  text-align: left;
  top: 30px;
  padding-left: 20px;
  position: relative;
  z-index: 2;
}

.logo-wrapper .logo-text {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.01em;
}

.logo-wrapper .logo-text span {
  color: #48a8db;
}

.headerItem-container {
  position: relative;
  z-index: 2;
}

.headerItem-wrapper {
  display: inline;
  text-align: center;
  margin-left: 18px;
}

.headerItem-wrapper .headerItem-link {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.button-wrapper {
  padding-top: 120px;
  padding-left: 30px;
  width: 50px;
  height: 30px;
  text-align: center;
}

.button-wrapper button {
  padding: 12px 30px;
  background-color: #1f2420;
  color: #f0f0f0;
  font-weight: bold;
  font-size: 18px;
  border-radius: 20px;
}

.button-wrapper button:hover {
  background-color: #38423a;
}

#chart {
  padding-top: 45px;
  opacity: 1;
}

#chart .c3-line-weight,
.c3-line-bmi,
.c3-line-bfp,
.c3-line-mm {
  stroke-width: 5px;
}

.dialog-wrapper {
  color: #f0f0f0;
  background-color: #1f2420;
  border: 1px;
  position: fixed;
  display: flex;
  top: 20%;
  left: 50%;
  z-index: 4;
  width: 350px;
  padding: 30px 10px 30px 30px;
  margin-left: -175px;
}

.dialog-container label {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 17.5px;
  width: 75px;
}

.dialog-container input {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 17.5px;
  flex: 1;
}

.dialog-button {
  text-align: center;
  margin-left: 25px;
}

.dialog-button input[type="submit"],
input[type="button"] {
  border: 1px #f0f0f0;
  width: 45%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #48a8db;
  border: none;
  color: #f0f0f0;
  font-weight: bold;
}

/*  */
@media screen and (max-width: 900px) {
  .logo-wrapper {
    display: none;
  }

  .headerItem-container {
    top: 45px;
  }
}
